@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  max-width: 1300px;
  font-family: 'PT Serif', serif;
}

.container .header {
  margin-left: 150px;
}

.container .header h1 {
  font-size: 50px;
  font-weight: bold;
}

.container .header button {
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 7px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  align-self: flex-end;
}

.container .header button:hover {
  background-color: rgb(67, 61, 61);
  box-shadow: 2px 1px;
}

/* ==========================Second Page======================= */

.previous button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 7px;
  background: #000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.previous button:hover {
  background-color: rgb(90, 80, 80);
}

.topContainer {
  margin-left: 35%;
  margin-top: -7px;
  font-family: 'PT Serif', serif;
}

.topContainer header h1 {
  font-size: 67px;
}

.topMap {
  display: flex;
  margin-top: 10px;
}

.inMap {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 30px 10px 0px 10px;
  background-color: black;
  color: white;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

/* ==================dice================ */

.dice img {
  margin-left: 115px;
  margin-top: 50px;
  height: 150px;
  width: 150px;

  border-radius: 11px;
  cursor: pointer;
}

.topContainer .para p {
  margin-left: 122px;
  margin-top: 6px;
  font-weight: bold;
}

/* ================Score=================== */

.score {
  margin-left: 160px;
  margin-top: 20px;
  font-size: 115px;
  font-weight: bold;
}

.totalScore {
  margin-left: 42px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 63px;
}

.resetBtn {
  margin-left: 128px;
  padding: 12px 13px;
  border-radius: 9px;
  margin-top: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.resetBtn:hover {
  background-color: rgb(79, 63, 63);
}

/* =======================Game Rules======================== */

.rules {
  margin: 49px 0px 10px 176px;
}

.rules h1 {
  margin-bottom: 5px;
}

.rules p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 15px;
}

/* ============================Footer===================== */

.footer {
  background: #000;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
}
